[Unit]
Description=FOL's distributed currency daemon
After=network.target

[Service]
User=fol
Group=fol

Type=forking
PIDFile=/var/lib/fold/fold.pid
ExecStart=/usr/bin/fold -daemon -pid=/var/lib/fold/fold.pid \
-conf=/etc/fol/fol.conf -datadir=/var/lib/fold -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
